<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Sistema de Administración</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clientes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'agregar_cliente' %}">Agregar Cliente</a>
            <a class="dropdown-item" href="{% url 'ver_clientes' %}">Ver Clientes</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="empleadosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Empleados
          </a>
          <div class="dropdown-menu" aria-labelledby="empleadosDropdown">
            <a class="dropdown-item" href="{% url 'agregar_empleado' %}">Agregar Empleado</a>
            <a class="dropdown-item" href="{% url 'ver_empleados' %}">Ver Empleados</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="ventasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ventas
          </a>
          <div class="dropdown-menu" aria-labelledby="ventasDropdown">
            <a class="dropdown-item" href="#" onclick="alert('Funcionalidad de Ventas próximamente disponible')">Agregar Venta</a>
            <a class="dropdown-item" href="#" onclick="alert('Funcionalidad de Ventas próximamente disponible')">Ver Ventas</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  